header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 100px 0 100px;
}

.nav-list {
    display: flex;
    gap: 60px;

    .active {
        text-decoration: underline;
    }

    .nav-link {
        color: #FF6060;
        font-weight: 500;
    }
}