.house-container {
    margin-top: 30px;
}

.housing-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6F6F6;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
}

.housing-item {
    position: relative;
    height: 340px;
    width: 340px;
    margin: 30px;
    border-radius: 10px;

    img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    p {
        position: absolute;
        font-size: 18px;
        bottom: 0;
        padding-left: 20px;
        color: white;
        padding-bottom: 20px;
    }
}